<template>
    <div class="vh-100 container d-flex justify-content-center align-items-center">
        <form id="loginForm" class="row" @submit.prevent="onLogin">
            <div class="col-12 mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" v-model="loginReq.email" name="email" id="email" class="form-control">
            </div>
            <div class="col-12 mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" v-model="loginReq.pass" name="pass" id="pass" class="form-control">
            </div>
            <div class="col-12 mb-3">
                <button type="submit" class="btn btn-primary">LOGIN</button>
            </div>
        </form>
    </div>
</template>

<script setup>
    import { ref } from "vue";
    import { login } from '../services/grpc/login.service'

    const loginReq = ref({
        email : '', 
        pass : ''
    })

    const onLogin = () => {
        login(loginReq).then(console.log).catch(console.error)
    }
</script>